NEXT_PUBLIC_EMAILJS_SERVICE_ID=여기에_서비스ID
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=여기에_퍼블릭키
NEXT_PUBLIC_EMAILJS_TEMPLATE_REQUESTER=template_to_requester
NEXT_PUBLIC_EMAILJS_TEMPLATE_ADMIN=template_to_admin
NEXT_PUBLIC_ADMIN_EMAIL=soilabcoop@gmail.com
